bin/
pix/
MC
cumu
PbPb2015_cumu
pPb
test/*
!test/qw*.py
!test/crab_*.py
!test/run*.sh
runConfig/*
!runConfig/qw*.py
!runConfig/crab_*.py
!runConfig/run*.sh
runConfig2/*
!runConfig2/qw*.py
!runConfig2/crab_*.py
!runConfig2/run*.sh
*.pyc
tmp/
